.header {

}

.content {

}

.title {

}

.title h3 {
    margin-bottom: 7px;
    margin-top: 10px;
    font-size: 32px;
}

.content h4 {
    margin-top: 20px;
}

body {
    width: 900px;
    margin: auto;
}

code {
    font-family: monospace;
}

p,li {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.signature {
    text-align: right;
}

.article_title {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}